body {
    margin: 2%;
    font-size: 20px;
    word-break: break-word;
}
p { padding: 10px; }
div { border: 1px solid black; box-sizing: border-box; }
img { object-fit: cover; max-width: 100%; vertical-align: bottom; }
.first-last {
    padding: 2%;
    border: 1px solid black;
    background-color: lightblue;
    overflow: hidden;
}
.first-last p { float: left; width: 75%; margin: 0; }
.x-y { 
    background-color: white; 
    border: 1px solid black; 
    width: 20%; 
    padding: 5px; 
    float: right; 
    text-align: center; 
}
#main {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.cell-left-wrapper {
    display: table-cell;
    width: 80%;
    vertical-align: top;
    padding: 0;
    border: none;
}
.cell-right-sidebar {
    display: table-cell;
    width: 20%;
    background-color: lightpink;
    vertical-align: top;
    height: 100%;
}
.nested-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.cell-menu {
    display: table-cell;
    width: 25%;
    background-color: lightpink;
    vertical-align: top;
}
.cell-content {
    display: table-cell;
    width: 75%;
    vertical-align: top;
    padding: 0;
    border: none;
}
#div_3, #div_6 { background-color: lightgreen; }
#div_5_map { background-color: white; text-align: center; border-top: none; }
@media screen and (max-width: 768px) {
    p { font-size: 18px; }
}
@media screen and (max-width: 425px) {
    p { font-size: 14px; }
    #map_img { content: url("img/map_img_small.png"); }
}