
body{
    margin: 2%;
    font-size: 20px;
    display: grid;
    grid-template-rows: auto;
    word-break: break-word;
}

p{
    padding: 10px;
}

div{
    border: 1px solid black;
}

img{
    object-fit: cover;
}

.first-last{
    align-items: center;
    padding: 2%;
    border: 1px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.x-y{
    background-color: white;
    border: 1px solid black;
    width: 20%;
    padding: 5px;
}

.div-central-parts{
    display: flex;
    justify-content: center;
    align-items: center;
}

#h_x{
    text-align: center;
}

#h_y{
    text-align: end;
}

#main{
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

#div_2{
    background-color:lightpink;
    grid-column: 1/2;
    grid-row: 1/5;
}

#div_3{
    background-color: lightgreen;
    grid-column: 2/4;
    grid-row:1/2;
}

#div_4{
    background-color: lightpink;
    grid-column: 4/5;
    grid-row: 1/6;
}
#div_5{
    grid-column: 2/4;
    grid-row: 2/5;
    background-size: cover;
    background-position: center;
}
#div_5_map{
    grid-column: 2/4;
    grid-row: 2/5;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#div_6{
    background-color: lightgreen;
    grid-column: 1/4;
    grid-row: 5/6;
}


@media screen and (max-width: 768px) {
    p {
        font-size: 14px;
    }


    #main {
        display: flex;
        flex-direction: column;
    }

    #div_2 { order: 1; }
    #div_3 { order: 2; }
    #div_5_map { order: 3; }
    #div_4 { order: 4; }
    #div_6 { order: 5; }

    #map_img {
        width: 100%;
        height: auto;
    }
}
