body{
    margin: 2%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    word-break: break-word;
}

p{
    padding: 10px;
}

div{
    border: 1px solid black;
    box-sizing: border-box;
}

img{
    object-fit: cover;
    max-width: 100%;
}

.first-last{
    align-items: center;
    padding: 2%;
    border: 1px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.x-y{
    background-color: white;
    border: 1px solid black;
    width: 20%;
    padding: 5px;
}

.div-central-parts{
    display: flex;
    justify-content: center;
    align-items: center;
}

#h_x{
    text-align: center;
}

#h_y{
    text-align: end;
}

#main{
    display: flex;
    flex: 1;
}

.left-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: none;
}

.top-row{
    display: flex;
    flex: 1;
    border: none;
}

.center-col{
    display: flex;
    flex-direction: column;
    width: 75%;
    border: none;
}

#div_2{
    background-color: lightpink;
    width: 25%;
}

#div_3{
    background-color: lightgreen;
}

#div_5_map{
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#div_6{
    background-color: lightgreen;
}

#div_4{
    background-color: lightpink;
    width: 20%;
}

@media screen and (max-width: 768px){
    p{
        font-size: 18px;
    }
}

@media screen and (max-width: 425px){
    p{
        font-size: 14px;
    }
    #map_img{
        content: url("img/map_img_small.png");
    }
}