body{
    margin: 2%;
    font-size: 20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    word-break: break-word;
}
p{
    padding: 10px;
}
div{
    border: 1px solid black;
    box-sizing: border-box;
}
img{
    object-fit: cover;
    max-width: 100%;
}
.first-last{
    align-items: center;
    padding: 2%;
    border: 1px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}
.x-y{
    background-color: white;
    border: 1px solid black;
    width: 20%;
    padding: 5px;
}
.div-central-parts{
    display: flex;
    justify-content: center;
    align-items: center;
}
#h_x{ text-align: center; }
#h_y{ text-align: end; }
#main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "area2 area3 area4"
        "area2 area5 area4"
        "area6 area6 area4";
}
#div_2{
    background-color: lightpink;
    grid-area: area2;
}
#div_3{
    background-color: lightgreen;
    grid-area: area3;
}
#div_5_map{
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-area: area5;
}
#div_6{
    background-color: lightgreen;
    grid-area: area6;
}
#div_4{
    background-color: lightpink;
    grid-area: area4;
}
@media screen and (max-width: 425px){
    p{ font-size: 14px; }
    #map_img{ content: url("img/map_img_small.png"); }
}